## Important: info -> sample -> describe

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv("../Test_data_files/student_data.csv")

df
print(type(df))

ser = df['StudentID']

print(ser)
print(type(ser))

<class 'pandas.core.frame.DataFrame'>
0     PH1001
1     PH1002
2     PH1003
3     PH1004
4     PH1005
5     PH1006
6     PH1007
7     PH1008
8     PH1009
9     PH1010
10    PH1011
11    PH1012
12    PH1013
13    PH1014
14    PH1015
15    PH1016
16    PH1017
17    PH1018
18    PH1019
19    PH1020
Name: StudentID, dtype: object
<class 'pandas.core.series.Series'>

In [13]:
j_print = pd.read_json("../Test_data_files/data.json")

print(j_print)

  StudentID          FullName  ...  Algorithm Marks  Python Marks
0    PH1001       Alif Rahman  ...               85            88
1    PH1002     Fatima Akhter  ...               92            90
2    PH1004  Jannatul Ferdous  ...               78            82

[3 rows x 5 columns]

In [18]:
p_s_m = pd.read_excel("../Test_data_files/phitron_student_marks.xlsx")

p_s_m

   StudentID          FullName  ...  Instructor    Location
0     PH1001       Alif Rahman  ...   Mr. Karim       Dhaka
1     PH1002     Fatima Akhter  ...   Ms. Salma  Chattogram
2     PH1003     Imran Hossain  ...   Mr. Karim       Dhaka
3     PH1004  Jannatul Ferdous  ...   Ms. Salma      Sylhet
4     PH1005       Kamal Uddin  ...   Mr. Karim  Chattogram
5     PH1006       Laila Begum  ...   Ms. Salma    Rajshahi
6     PH1007    Mahmudul Hasan  ...   Mr. Karim       Dhaka
7     PH1008       Nadia Islam  ...   Ms. Salma  Chattogram
8     PH1009        Omar Faruq  ...   Mr. David       Dhaka
9     PH1010      Priya Sharma  ...   Ms. Salma      Sylhet
10    PH1011      Rahim Sheikh  ...   Mr. Karim      Khulna
11    PH1012   Sadia Chowdhury  ...   Ms. Salma  Chattogram
12    PH1013      Tanvir Ahmed  ...   Mr. David       Dhaka
13    PH1014        Urmi Akter  ...   Ms. Salma    Rajshahi
14    PH1015      Wahiduzzaman  ...   Mr. Karim       Dhaka
15    PH1016      Ziaur Rahman  ...   Ms. Salma  Chattogram
16    PH1017       Afsana Mimi  ...   Mr. Karim       Dhaka
17    PH1018       Babul Ahmed  ...   Ms. Salma      Sylhet
18    PH1019      Faria Rahman  ...   Mr. David  Chattogram
19    PH1020        Nasir Khan  ...   Ms. Salma       Dhaka

[20 rows x 9 columns]

In [23]:
p_s_m.head()

  StudentID          FullName  ...  Instructor    Location
0    PH1001       Alif Rahman  ...   Mr. Karim       Dhaka
1    PH1002     Fatima Akhter  ...   Ms. Salma  Chattogram
2    PH1003     Imran Hossain  ...   Mr. Karim       Dhaka
3    PH1004  Jannatul Ferdous  ...   Ms. Salma      Sylhet
4    PH1005       Kamal Uddin  ...   Mr. Karim  Chattogram

[5 rows x 9 columns]

In [25]:
p_s_m.tail(3)

   StudentID      FullName  ...  Instructor    Location
17    PH1018   Babul Ahmed  ...   Ms. Salma      Sylhet
18    PH1019  Faria Rahman  ...   Mr. David  Chattogram
19    PH1020    Nasir Khan  ...   Ms. Salma       Dhaka

[3 rows x 9 columns]

In [61]:
x = np.array(p_s_m.index)
print(x)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]

In [30]:
p_s_m.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   StudentID             20 non-null     object
 1   FullName              20 non-null     object
 2   Data Structure Marks  16 non-null     float64
 3   Algorithm Marks       16 non-null     float64
 4   Python Marks          15 non-null     float64
 5   CompletionStatus      20 non-null     object
 6   EnrollmentDate        20 non-null     object
 7   Instructor            20 non-null     object
 8   Location              20 non-null     object
dtypes: float64(3), object(6)
memory usage: 1.5+ KB

In [58]:
p_s_m.sample(5)

   StudentID      FullName  ...  Instructor    Location
5     PH1006   Laila Begum  ...   Ms. Salma    Rajshahi
15    PH1016  Ziaur Rahman  ...   Ms. Salma  Chattogram
9     PH1010  Priya Sharma  ...   Ms. Salma      Sylhet
17    PH1018   Babul Ahmed  ...   Ms. Salma      Sylhet
0     PH1001   Alif Rahman  ...   Mr. Karim       Dhaka

[5 rows x 9 columns]

In [51]:
p_s_m.describe()

       Data Structure Marks  Algorithm Marks  Python Marks
count             16.000000        16.000000     15.000000
mean              84.000000        84.000000     85.666667
std                6.501282         6.501282      5.394000
min               72.000000        72.000000     76.000000
25%               79.500000        79.500000     83.000000
50%               85.500000        85.500000     85.000000
75%               88.250000        88.250000     88.500000
max               94.000000        94.000000     95.000000

In [3]:
df

,StudentID,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location
0,PH1001,Alif Rahman,85.0,85.0,88.0,Completed,2024-01-15,Mr. Karim,Dhaka
1,PH1002,Fatima Akhter,92.0,92.0,NaN,In Progress,2024-01-20,Ms. Salma,Chattogram
2,PH1003,Imran Hossain,88.0,88.0,85.0,Completed,2024-02-10,Mr. Karim,Dhaka
3,PH1004,Jannatul Ferdous,78.0,78.0,82.0,Completed,2024-02-12,Ms. Salma,Sylhet
4,PH1005,Kamal Uddin,NaN,NaN,95.0,In Progress,2024-03-05,Mr. Karim,Chattogram
5,PH1006,Laila Begum,75.0,75.0,78.0,Completed,2024-03-08,Ms. Salma,Rajshahi
6,PH1007,Mahmudul Hasan,80.0,80.0,NaN,In Progress,2024-04-01,Mr. Karim,Dhaka
7,PH1008,Nadia Islam,81.0,81.0,85.0,Completed,2024-04-22,Ms. Salma,Chattogram
8,PH1009,Omar Faruq,72.0,72.0,76.0,Completed,2024-05-16,Mr. David,Dhaka
9,PH1010,Priya Sharma,89.0,89.0,88.0,Completed,2024-05-20,Ms. Salma,Sylhet
10,PH1011,Rahim Sheikh,NaN,NaN,91.0,In Progress,2024-06-11,Mr. Karim,Khulna
11,PH1012,Sadia Chowdhury,85.0,85.0,87.0,Completed,2024-06-14,Ms. Salma,Chattogram
12,PH1013,Tanvir Ahmed,75.0,75.0,79.0,Completed,2024-07-02,Mr. David,Dhaka
13,PH1014,Urmi Akter,NaN,NaN,NaN,Not Started,2024-07-09,Ms. Salma,Rajshahi
14,PH1015,Wahiduzzaman,86.0,86.0,84.0,Completed,2024-08-18,Mr. Karim,Dhaka
15,PH1016,Ziaur Rahman,94.0,94.0,NaN,In Progress,2024-08-21,Ms. Salma,Chattogram
16,PH1017,Afsana Mimi,90.0,90.0,93.0,Completed,2025-09-01,Mr. Karim,Dhaka
17,PH1018,Babul Ahmed,88.0,88.0,85.0,Completed,2025-09-05,Ms. Salma,Sylhet
18,PH1019,Faria Rahman,NaN,NaN,NaN,Not Started,2025-09-15,Mr. David,Chattogram
19,PH1020,Nasir Khan,86.0,86.0,89.0,Completed,2025-10-02,Ms. Salma,Dhaka

In [12]:
df.loc[10:14,['FullName','EnrollmentDate']]

    Algorithm Marks  Python Marks CompletionStatus
10              NaN          91.0      In Progress
11             85.0          87.0        Completed
12             75.0          79.0        Completed
13              NaN           NaN      Not Started

## Jodi ilock use kori tahole column er jonno direce slicing use korte parbo. Tokhn emon nam dhore call kora lagbe na.

In [13]:
df.iloc[10:14,3:6]

    Algorithm Marks  Python Marks CompletionStatus
10              NaN          91.0      In Progress
11             85.0          87.0        Completed
12             75.0          79.0        Completed
13              NaN           NaN      Not Started