In [6]:
import pandas as pd
import numpy as np

my_list = [['Adil',20],['Kadil',40],['Dadil',60]]

list_df = pd.DataFrame(my_list,index=[1,2,3],columns=['Name','Age'])

list_df

    Name  Age
1   Adil   20
2  Kadil   40
3  Dadil   60

In [13]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
tuple_df = pd.DataFrame(thistuple,columns=['Fruit'])
tuple_df

    Fruit
0   apple
1  banana
2  cherry
3   apple
4  cherry

In [16]:
myset = {"apple", "banana", "cherry"}
set_df = pd.DataFrame(myset,columns=['Fruit'])
set_df

    Fruit
0   apple
1  cherry
2  banana

In [32]:
thisdict = {
  "brand": ["Ford", "BMV", "Porchichi","Marcedis"],
  "model":["Mustang", "Mx-5", "Rtka", "Pink"],
  "year": [1964,2233,2453,2532]
}

xt = pd.DataFrame([thisdict])
xt

,brand,model,year
0,"[Ford, BMV, Porchichi, Marcedis]","[Mustang, Mx-5, Rtka, Pink]","[1964, 2233, 2453, 2532]"